<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="text-align: center;">
  <div>

    

    <h1>Welcome to {{title}} Angular worlds color {{myObj.color}}</h1>
    
    <!-- default -->
    <!-- 
    <app-demo></app-demo> -->

    <!-- Like class -->
    <!-- <div class="app-demo"> </div> -->

    <!-- like attribute -->
    <div app-demo>

    </div>
  </div>
  
</body>
</html>